[Unit]
Description=My Python Flask Web
After=network.service

[Service]
WorkingDirectory=/myweb/flasksimpleweb
ExecStart=/myweb/flasksimpleweb/runme.sh

[Install]
WantedBy=default.target
