[Unit]
Description=My Python Flask Web
After=network.service

[Service]
WorkingDirectory=/flasksimpleweb
ExecStart=/flasksimpleweb/runme.sh

[Install]
WantedBy=default.target
